<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/App.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <title>Consortium Network Explorer</title>
</head>

<body>
<div id="Content">
    <div class="row justify-content-center my-5 mx-0">
        <div class="col col-md-7 container">
            <h1><span>Consortium Network Explorer</span></h1>
            <hr>
            <form class="my-5" action="/" method="post">
                <label><span>Enter a transaction hash to get started.</span></label>
                <div class="form-row ">
                    <div class="col-12 col-md-10">
                        <input type="text"
                               name="value"
                               id="icon"
                               class="search-form"
                               placeholder="Search"
                               title="Please enter a transaction hash"
                               value=""
                               required/>
                    </div>
                    <div class="col-12 col-md-2">
                        <button type="submit" class="btn-search"><span>Search</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">Powered by
        <a href="https://apla.io">Apla</a>, 2019
    </div>
</div>
</body>

</html>