<!doctype html>
<html lang="en">

<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   <link rel="stylesheet" href="/styles/App.css">
   <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
   <title>Consortium Network Explorer</title>
</head>

<body>
   <div id="Content">
      <div class="row justify-content-center my-5 mx-0">
         <div class="col col-md-7 container">
            <h1><span>Consortium Network Explorer</span></h1>
            <hr>
            <form class="my-5" action="/" method="post">
               <!-- <label><span>Enter a transaction hash to get started.</span></label> -->
               <div class="form-row ">
                  <div class="col-12 col-md-10"><input type="text" name="value" id="icon" class="search-form"
                        placeholder="Search" pattern="[0-9a-f]{64}" title="Please enter a transaction hash" value="">
                  </div>
                  <div class="col-12 col-md-2"><button type="submit" class="btn-search"><span>Search</span></button>
                  </div>
               </div>
            </form>
            <!-- <h3 class="mb-0"><span>Nodes Overview</span></h3> -->
            <p class="text-muted"><span>Checking Transaction <span class="text-monospace"><%= value %></span></span></p>
            <hr>
            <% result.forEach(function(name) { %>
            <div class="row">
               <div class="col-12 col-md-9">
                  <h2 class="mb-0"><%= name.nodeName %></h2>
                  <p><span class="text-monospace text-muted break-word">Status:
                        <%- (name.nodeStatus) ? 'Confirmed' : 'Not Confirmed' %></span></p>
               </div>
               <div class="col-12 col-md-3">
                  <p class="text-right">
                     <%- (name.nodeStatus) ? '<span class="confirmed">Ok</span>' : '<span class="not-confirmed">Failed</span>' %>
                  </p>
               </div>
            </div>
            <% }); %>
         </div>
      </div>
      <div class="footer-copyright text-center py-3">Powered by
         <a href="https://apla.io">Apla</a>, 2019
      </div>
   </div>
</body>

</html>