* {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

body {
  background: #fafafa;
}

.container {
  background: #ffffff;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding:50px;
}

  /* Headings */

h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.text-monospace {
    font-family: "Roboto Mono", SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace !important;
  }

.btn-search {
  width: 100%;
  height: 40px;
  color: #ffffff;
  background-color: #455dee;
  border-radius: 4px;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  outline: none;
}

#icon {
  padding-left: 35px;
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-position: center left 8px;
  background-size: 15px;
}

.btn-search:hover {
  background-color: #374dd5;
  cursor: pointer;
  transition: background 0s ease-out, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38);
  outline: none;
}

.btn-search:active {
  background-color: #3847a5;
  transition-duration: 0s;
  outline: none;
}

.btn-search:focus {
transition-duration: 0s, 0.2s;
outline: none;
}

.search-form {
  background: #ffffff;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  font-size: 14px;
  color: #172B4D;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  padding: 8px 6px;
  margin-right: 5px;
  box-shadow: none;
  background-color: #ffffff;
  outline: none;
}

.search-form:hover {
  background-color: #EBECF0;
  border-color: #DFE1E6;
}

.search-form:focus {
  background-color: #FFFFFF;
  border-color: #455DEE;
}

.search-form:invalid {
  background-color: #FFFFFF;
  border-color: #DE350B;
}

.not-confirmed {
  color:#FF7171;
}

.confirmed {
  color: #28C51A;
}